<li id="notice-<%= notice.id %>">
  <p class="title">
    <%= notice.title %>
  </p>
  <div class="content">
    <%= notice.content %>
  </div>
  <span class="author">
    <%= link_to notice.user.name, notice.user %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(notice.created_at) %> ago.
  </span>
  <% if current_user?(notice.user) || current_user.admin? %>
      <%= link_to "delete", notice, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</li>