<!-- Remake from users to characters later, edit into admin user management panel -->

<%= render 'shared/banner' %>

<div class="game-container">

  <%= render 'shared/navigation' %>


  <%= will_paginate %>


  <ul class="users">
    <%= render @users %>
  </ul>


  <%= will_paginate %>


</div>