<!DOCTYPE html>
<html>
  <head>
    <title>RubyRailsGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="game-wrapper">
      <%= render 'shared/banner' %>
      <div class="game-container">

        <%= render 'shared/navigation' %>
        <div>
          <%= yield %>
        </div>

      </div>
    </div>
  </body>
</html>
